{{ partial "header.html" . }}
<section id="slider" class="siema">
  {{ range .Params.slides }}
  <div class="flex items-stretch items-center flex-wrap">
    <div class="w-100">
      <div class="aspect-ratio aspect-ratio--3x1">
        <div class="aspect-ratio--object z-1 bg-center cover" style="background-image: url(' {{ (trim .image "/") | absURL }}')">
          <div class="bg-black-50 pv4 pv3-ns measure white" style="margin-top: 80px !important">
            <div class="f2 mt0 lh-title tl b ph3 ph5-ns white bb b--red pb3 mb3 bw2 heading-font"> {{ .title }}</div>
            <div class="content measure ph3 ph5-ns pb2">
              <div class="">{{ .fees }}</div>
              <div class="">{{ .provide }}</div>
              <div class="">{{ .eligibility }}</div>
            <!-- {{ replace .Params.details "\n" "<br>" | safeHTML }} -->
          </div>
          </div>
          <div class="bg-black-50 pv4 pv3-ns measure white center" style="margin-left: 900px !important">
            <div class="f2 mt0 lh-title tl b ph3 ph5-ns white bb b--red pb3 mb3 bw2 heading-font center">{{ .date }}</div>
            <div class="mv2 ph3 ph5-ns">
              <a href="/register" class="bg-red br2 white ph2 pv1 f6 link dib hover-bg-dark-red ttu tracked">Register</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ end }}
</section>
<section class="pv5 bg-white ph3 ph4-m ph5-l">
  <h2 class="f2 w-100 tc dark-blue ttu mt0">About</h2>
  {{ partial "separator.html" . }}
  <div class="w-90 w-70-ns tc center f4 tj book-content bd-book-content">
    {{.Content}}
  </div>
</section>
<section class="pv5 bg-near-white ph3 ph4-m ph5-l">
  <h2 class="f2 w-100 tc dark-blue ttu mt0">Partners</h2>
  {{ partial "separator.html" . }}
  <div class="slider js_variablewidth_awards variablewidth">
    <div class="tc mb3">
      <span class="js_prev prev bg-yellow pa2 dib">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 501.5 501.5"><g><path fill="#2E435A" d="M302.67 90.877l55.77 55.508L254.575 250.75 358.44 355.116l-55.77 55.506L143.56 250.75z"/></g></svg>
      </span>
      <span class="js_next next bg-yellow pa2 dib">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 501.5 501.5"><g><path fill="#2E435A" d="M199.33 410.622l-55.77-55.508L247.425 250.75 143.56 146.384l55.77-55.507L358.44 250.75z"/></g></svg>
      </span>
    </div>
    <div class="frame js_frame" style="">
      <ul class="slides js_slides">
        {{ range .Site.Data.sponsers.sponsers }}
        <li>
          <div class="aspect-ratio aspect-ratio--16x9 br2 br--top w-100 overflow-hidden z-1 bg-near-white">
            <div class="aspect-ratio--object contain bg-center grow" style="background-image: url('{{ ( trim .image "/" ) | absURL}}')"></div>
          </div>
        </li>v
        {{end}}
      </ul>
    </div>
  </div>
</section>
{{ partial "footer.html" . }}
<script>
var variableWidth = document.querySelector('.js_variablewidth_awards');
var slider2 = lory(variableWidth, {
rewind: true
});
if(siema_interval){
clearInterval(siema_interval)
}
var mySiema = new Siema({duration:250,loop:true,});
var siema_interval = setInterval(()=>mySiema.next(),5000)
document.addEventListener("turbolinks:before-cache", function() {
mySiema.destroy()
if(slider1) slider1.destroy()
if(slider2) slider2.destroy()
if(slider3) slider3.destroy()
})
</script>