<footer>
  <div class="footer_top ph3 ph5-ns pv4">
  <center>
  <div id="clockdiv">
    <div>
      <span class="days" id="day"></span>
      <div class="smalltext">D</div>
    </div>
    <div>
      <span class="hours" id="hour"></span>
      <div class="smalltext">H</div>
    </div>
    <div>
      <span class="minutes" id="minute"></span>
      <div class="smalltext">M</div>
    </div>
    <div>
      <span class="seconds" id="second"></span>
      <div class="smalltext">S</div>
    </div>
  </div>
</center>
 
<p id="demo"></p>

  </div>
<div class="bg-lightest-blue ph3 ph5-ns pv3">
  <div class="flex item-start mxn2 flex-wrap pt1 justify-center">
    <div class="px2">
      <a class="link pa2 ttu f6 navy b dib" href="/">Home</a>
         <!--  <a class="link pa2 ttu f6 navy b dib" href="/raceinfo">Race Info</a> -->
          <a class="link pa2 ttu f6 navy b dib" href="/raceweekend">Race Weekend
          </a>
          <a class="link pa2 ttu f6 navy b dib" href="/register">Register
          </a>
           <a class="link pa2 ttu f6 navy b dib" href="/faq" data-turbolinks="false">Faq</a>
          <a class="link pa2 ttu f6 navy b dib" href="/contact" data-turbolinks="false">Contact</a>
    </div>
  </div>
</div>
  
<div class="bg-dark-blue ph3 ph5-ns pv3">
  <div class="flex items-start ph2">
    <div class="white-70 flex-auto pr2">&copy Encash Entertainment {{dateFormat "2006" now }}
    </div>
    <div class="white f6 pl2">
      Powered by <a href="http://slicedmango.com" class="white-80">Sliced Mango</a>
    </div>
  </div>
</div>
</footer>
<script>
  var toggle_mobile_menu = function(){
    document.getElementById("mobile_nav").classList.toggle("dn")
  }
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }

var deadline = new Date("june 29, 2018 15:37:25").getTime();
 
var x = setInterval(function() {
 
var now = new Date().getTime();
var t = deadline - now;
var days = Math.floor(t / (1000 * 60 * 60 * 24));
var hours = Math.floor((t%(1000 * 60 * 60 * 24))/(1000 * 60 * 60));
var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
var seconds = Math.floor((t % (1000 * 60)) / 1000);
document.getElementById("day").innerHTML =days ;
document.getElementById("hour").innerHTML =hours;
document.getElementById("minute").innerHTML = minutes; 
document.getElementById("second").innerHTML =seconds; 
if (t < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "TIME UP";
        document.getElementById("day").innerHTML ='0';
        document.getElementById("hour").innerHTML ='0';
        document.getElementById("minute").innerHTML ='0' ; 
        document.getElementById("second").innerHTML = '0'; }
}, 1000);
</script>


</body>
</html>
